section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagline {
  font-size: 1.3rem;
  font-weight: 700;
}

p {
  margin: 5px;
  padding: 0 20px;
}

button {
  font-size: 1.3rem;
  margin: 10px;
}